

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  }

  .nav-item, .navbar {
    z-index: 10000;
    
  }

  @media  screen and (max-width:900px) {
    .sidebar{
      z-index: 10000000;
    }
  }
  .icon path{
    stroke: rgb(11, 128, 20);
  }